body {
  margin: 0;
  width: 100vw;  
}
/* #root {
  margin: 0;
  width: 100vw;
} */

.row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
}

.col-12 {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-9{
  max-width: 75%;
  position: relative;
  width: auto;
  min-height: 1px;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-6 {
  max-width: 50%;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  min-height: 1px;
  padding: 0 10px;
}

.col-4 {
  max-width: 33%;
  position: relative;
  width: 100%;
  min-height: 1px;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-3 {
  max-width: 25%;
  position: relative;
  width: 100%;
  min-height: 1px;
  box-sizing: border-box;
  padding: 0 10px;
}